<div class="btn-group text-center" role="group" aria-label="Basic example">
  <button type="button" class="btn btn-secondary" routerLinkActive="active" [routerLink]="['novo']">Nuevo</button>
  <button type="button" class="btn btn-secondary" routerLinkActive="active" [routerLink]="['detalhe']">Detalhe</button>
  <button type="button" class="btn btn-secondary" routerLinkActive="active" [routerLink]="['editar']">Editar</button>
</div>
<section class="container">
  <router-outlet></router-outlet>
</section>
